<template>
  <div class="main-chart">
    <v-container>
      <v-row>
        <v-col cols="4">
          <v-card-title class="white--text">Today's Data</v-card-title>
          <div class="grid pb-3">
            <v-card width="100%">
              <v-card-title>New Cases</v-card-title>
              <v-card-text>{{ newData.positiveIncrease }}</v-card-text>
            </v-card>
            <v-card width="100%">
              <v-card-title>In ICU currently</v-card-title>
              <v-card-text>{{ newData.inIcuCurrently }}</v-card-text>
            </v-card>
            <v-card width="100%">
              <v-card-title>Hospitalized</v-card-title>
              <v-card-text>{{ newData.hospitalizedIncrease }}</v-card-text>
            </v-card>
            <v-card width="100%">
              <v-card-title>Deaths</v-card-title>
              <v-card-text>{{ newData.deathIncrease }}</v-card-text>
            </v-card>
          </div>
          <v-card
            class="pa-4 white--text"
            flat
            style="background-color: #142541;"
            aspect-ratio="1 / 1"
          >
            <v-card-title>Total Positive Cases</v-card-title>
            <v-overlay :absolute="true" :value="!loaded">
              <v-progress-circular
                indeterminate
                size="64"
              ></v-progress-circular>
            </v-overlay>
            <LineChart
              v-if="loaded"
              :chartData="arrTotal"
              :options="chartOptions"
              propkey="total"
              label="Total Positive Cases"
            />
          </v-card>
        </v-col>
        <v-col cols="4"></v-col>
        <v-col cols="4">
          <v-card
            class="pa-4 white--text"
            flat
            style="background-color: #142541;"
          >
            <!-- <v-overlay :absolute="true" :value="!loaded">
              <v-progress-circular
                indeterminate
                size="64"
              ></v-progress-circular>
            </v-overlay> -->
            <v-simple-table
              v-if="loaded"
              class="white--text"
              style="background-color: #142541;"
              dense
              dark
            >
              <template v-slot:default>
                <thead>
                  <tr>
                    <th style="color: #3981e9;">Metric</th>
                    <th style="color: #3981e9;">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(value, data) in todaysData" :key="value">
                    <td>{{ data }}</td>
                    <td>{{ value }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card>
          <v-card
            class="pa-4 white--text"
            flat
            style="background-color: #142541;"
            aspect-ratio="1 / 1"
          >
            <v-card-title>Daily Positive Cases</v-card-title>
            <v-overlay :absolute="true" :value="!loaded">
              <v-progress-circular
                indeterminate
                size="64"
              ></v-progress-circular>
            </v-overlay>
            <LineChart
              v-if="loaded"
              :chartData="arrPositiveIncrease"
              :options="chartOptions"
              propkey="positiveIncrease"
              label="Total Positive Cases"
            />
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
// import axios from 'axios';
import moment from 'moment';
import LineChart from '@/components/LineChart.vue';

export default {
  name: 'MainChart',
  components: {
    LineChart,
  },
  data() {
    return {
      loaded: false,
      useful: [
        'positive',
        'negative',
        'hospitalized',
        'death',
        'recovered',
        'total',
      ],
      todaysData: {},
      yesterdaysData: {},
      newData: {},
      arrPositive: [],
      arrPositiveIncrease: [],
      arrHospitalized: [],
      arrDeath: [],
      arrInICU: [],
      arrNegative: [],
      arrOnVentilatorCurrently: [],
      arrRecovered: [],
      arrTotal: [],
      chartOptions: {
        responsive: true,
        maintainAspectRatio: true,
        scales: {
          xAxes: [
            {
              gridLines: {
                display: false,
              },
            },
          ],
        },
        legend: {
          display: false,
          labels: {
            display: false,
          },
        },
      },
    };
  },
  async mounted() {
    // this.renderChart(this.data, this.options);
    await fetch('https://covidtracking.com/api/us/daily')
      .then((res) => res.json())
      .then((data) => {
        console.log(data);
        // this.todaysData = data[0];
        this.newData = data[0];
        console.log(this.newData);
        // this.yesterdaysData = data[1];
        // console.log(this.todaysData);
        data.forEach((d, i) => {
          const date = moment(d.date, 'YYYYMMDD').format('MMM');
          if (i == 0) {
            this.useful.forEach((item) => {
              if (item in d) {
                this.todaysData[item] = d[item];
              }
            });
          }
          if (i == 1) {
            this.useful.forEach((item) => {
              if (item in d) {
                this.yesterdaysData[item] = d[item];
              }
            });
          }
          const {
            positive,
            hospitalized,
            inIcuCurrently,
            negative,
            onVentilatoryCurrently,
            recovered,
            total,
            death,
            positiveIncrease,
          } = d;
          this.arrPositive.push({ date, positive });
          this.arrRecovered.push({ date, recovered });
          this.arrHospitalized.push({ date, hospitalized });
          this.arrOnVentilatorCurrently.push({ date, onVentilatoryCurrently });
          this.arrNegative.push({ date, negative });
          this.arrDeath.push({ date, death });
          this.arrInICU.push({ date, inIcuCurrently });
          this.arrTotal.push({ date, total });
          this.arrPositiveIncrease.push({ date, positiveIncrease });
        });
        setTimeout(() => {
          this.loaded = true;
        }, 1000);
      })
      .catch((e) => console.log(e));
    console.log(this.arrDeath);
  },
};
</script>

<style>
.grid {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  transform-style: preserve-3d;
}

.grid .v-card {
  border: 2px solid grey !important;
  color: white;
  background-color: #142541 !important;
}

.grid .v-card .v-card__title {
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 0.75rem;
  color: #3981e3;
}

.grid .v-card .v-card__text {
  color: white !important;
  text-align: center;
  font-size: 2rem;
}
</style>
