<template>
  <div class="navbar">
    <v-app-bar app color="#142541" dark>
      <div class="d-flex align-center">
        <v-toolbar-title
          style="display: flex; align-items: center;"
          class="text-uppercase grey--text text--lighten-3 pa-16"
        >
          <v-app-bar-nav-icon
            @click="drawer = !drawer"
            class="grey--text text--lighten-3"
          ></v-app-bar-nav-icon>
          <span class="accent--text text-h5 ml-2"
            >📈 COVID-19 &nbsp; &nbsp;
          </span>
          <span style="font-weight: bold" class="white--text text-h5"
            >Dashboard</span
          >
        </v-toolbar-title>
      </div>

      <v-spacer></v-spacer>

      <v-btn
        href="https://github.com/vuetifyjs/vuetify/releases/latest"
        target="_blank"
        text
      >
        <span class="mr-2">Latest Release</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" absolute temporary>
      <v-list-item>
        <v-list-item-avatar tile>
          <img :src="require('../assets/virus-icon.png')" alt="John" />
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>Covid Data</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list>
        <v-list-item
          v-for="item in items"
          :key="item.title"
          :to="item.route"
          link
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  name: 'Navbar',
  data() {
    return {
      drawer: null,
      items: [
        { title: 'Home', icon: 'mdi-view-dashboard', route: '/' },
        { title: 'About', icon: 'mdi-comment-question', route: '/about' },
      ],
    };
  },
};
</script>

<style></style>
